/* forms */
.form-position {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
	border: 3px dotted rgb(229,229,229); /*fallback-color*/
	border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[name="re-pass"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -webkit-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* chat */
.container {
	max-width: 46rem;
}

.online-title {
	position:absolute;
	top: 2px;
	width: 150px;
	height: 30px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

.left_border {
	border-left: 6px solid #2196F3;
}

.chatbox_user {
	position: relative;
	bottom: 3px;
	width: 250px;
	min-height: 300px;
	margin-right: 30px;
	margin-left: 5px;
}

.chatbox_title {
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	min-height: 25px;
	font-size: 15px;
	color: white;
	padding-left: 5px;
	background-color: #2196F3;
}

.close_chat {
	position: absolute;
	right: 11px;
	top: 0;
	padding-top: 3px;
	font-size: 13px;
}

.opt {
	float: left;
  padding: 3px;
	color: white;
  cursor: pointer;
}

.opt:hover {
	background-color: #993;
}

.chatbox_text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 250px;
	min-height: 50px;
}
.chatbox_text input {
	position:absolute;
	bottom: 0;
	width: 240px;
	min-height: 30px;
	padding-left: 5px;
	font-size: 12px;
	border: 1px solid grey;
}

.chatbox_msg {
	overflow: auto;
	position: absolute;
	top: 30px;
	left: 5px;
	width: 240px;
	height: 235px;
	padding-top: 5px;
}

.msg_container {
	width: 200px;
	margin-top: 0;
}

.err_msg {
	padding-top: 5px;
	padding-left: 10px;
	color: #555;
	font-size: 13px;
	word-wrap: break-word;
}

div.msg_container div#sender {
	width: 200px;
	margin-left: 10px;
	margin-top: 0px;
	word-wrap: break-word;
	font-size: 14px;
	font-family: courier;
}
div.msg_container div#sender_msg {
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	font-size: 14px;
	font-family: times new roman;
}
